.card{
    position: relative;
    width: 262px;
    height: 272px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.08);
}
.card .profile_picture{
    border-radius: 10px 10px 0px 0px;
}

.card img{
    position: relative;
    height: 120px;
    border-radius: 100%;
    top: 50px;
}

.card .descricao{
    padding-top: 50px;
}

.descricao__nome{
    font-size: 18px;
    font-weight: 600;
    color: #6278F7;
    padding-bottom: 8px;
}

.descricao__cargo{
    font-size: 18px;
    font-weight: 400;
    color: #212121;
    margin-bottom: 8px;
}

.deletar{
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: -10px;
    right: -10px;
}
.favorito{
    color: red;
    margin-bottom: 8px;
}