.campo-text{
    margin: 24px 0;
}

.campo-text label,
.campo-color label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campo-text input{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}
.campo-color input{
    margin-bottom: 16px;
	width: 50px !important;
	height: 50px !important;
    border-radius: 0 !important;
}